* {
    margin: 0;
    padding: 0;
    text-align: center;
}

body {
    font-size: 40px;
    background: radial-gradient(#2DB5B0 0%, #054890 100%);
    height: 100vh;
}

.file {
    opacity: 0;
    width: 0.1px;
    height: 0.1px;
    position: absolute;
}


h1 {
    display: inline-block;
    justify-content: center;
    width: 100%;
    padding-top: 4rem;
    Color: white;
    font-family: "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
    font-size: 49px;
}

h3 {
    padding-top: 2rem;
    font-family: "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
}

h4 {
    padding-top: 1rem;
    padding-bottom: 2rem;
    font-family: "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
}

.file-input {
    width: 35%;
    margin: auto;
    padding: 10px;
    border-radius: 25px;
}

.form-label {
    display: block;
}

.label-cont {
    margin-top: 1rem;
    margin-bottom: 2rem;
}

#file {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 65%;
    margin: auto;
}

#upld-butn {
    border-radius: 50px;
}

/* upload.html specific */



.scroll-box {
    width: 300px;
    /* Adjust the width as needed */
    height: 200px;
    /* Adjust the height as needed */
    overflow: auto;
    position: relative;
}
